@import "true";
@import "../settings/settings.google-fonts";
@import "../tools/tools.google-fonts";

@include test-module("[mixin] sf-google-fonts for Overpass Mono") {

  @include test("it should output with weight: default - regular (400)") {
    @include assert() {
      @include output {
        .output {
          @include sf-google-fonts('overpass-mono');
        }
      }
      @include expect {
        .output {
          font-family: "Overpass Mono", monospace;
          font-weight: 400;
        }
      }
    }
  }

  // thin - 100
  @include test("it should output with weight: thin (100)") {
    @include assert() {
      @include output {
        .output {
          @include sf-google-fonts('overpass-mono', 'thin');
        }
      }
      @include expect {
        .output {
          font-family: "Overpass Mono", monospace;
          font-weight: 100;
        }
      }
    }
  }

  // extra-light - 200
  @include test("it should output with weight: extra-light (200)") {
    @include assert() {
      @include output {
        .output {
          @include sf-google-fonts('overpass-mono', 'extra-light');
        }
      }
      @include expect {
        .output {
          font-family: "Overpass Mono", monospace;
          font-weight: 200;
        }
      }
    }
  }

  // light - 300
  @include test("it should output with weight: light (300)") {
    @include assert() {
      @include output {
        .output {
          @include sf-google-fonts('overpass-mono', 'light');
        }
      }
      @include expect {
        .output {
          font-family: "Overpass Mono", monospace;
          font-weight: 300;
        }
      }
    }
  }

  // regular - 400
  @include test("it should output with weight: regular (400)") {
    @include assert() {
      @include output {
        .output {
          @include sf-google-fonts('overpass-mono', 'regular');
        }
      }
      @include expect {
        .output {
          font-family: "Overpass Mono", monospace;
          font-weight: 400;
        }
      }
    }
  }

  // medium - 500
  @include test("it should output with weight: medium (500)") {
    @include assert() {
      @include output {
        .output {
          @include sf-google-fonts('overpass-mono', 'medium');
        }
      }
      @include expect {
        .output {
          font-family: "Overpass Mono", monospace;
          font-weight: 500;
        }
      }
    }
  }

  // semi-bold - 600
  @include test("it should output with weight: semi-bold (600)") {
    @include assert() {
      @include output {
        .output {
          @include sf-google-fonts('overpass-mono', 'semi-bold');
        }
      }
      @include expect {
        .output {
          font-family: "Overpass Mono", monospace;
          font-weight: 600;
        }
      }
    }
  }

  // bold - 700
  @include test("it should output with weight: bold (700)") {
    @include assert() {
      @include output {
        .output {
          @include sf-google-fonts('overpass-mono', 'bold');
        }
      }
      @include expect {
        .output {
          font-family: "Overpass Mono", monospace;
          font-weight: 700;
        }
      }
    }
  }

  // extra-bold - 800
  @include test("it should output with weight: extra-bold (800)") {
    @include assert() {
      @include output {
        .output {
          @include sf-google-fonts('overpass-mono', 'extra-bold');
        }
      }
      @include expect {
        .output {
          font-family: "Overpass Mono", monospace;
          font-weight: 800;
        }
      }
    }
  }

  // black - 900
  @include test("it should output with weight: black (900)") {
    @include assert() {
      @include output {
        .output {
          @include sf-google-fonts('overpass-mono', 'black');
        }
      }
      @include expect {
        .output {
          font-family: "Overpass Mono", monospace;
          font-weight: 900;
        }
      }
    }
  }

  // testing default with $important: true
  @include test("it should output with weight: default - regular (400) and !important") {
    @include assert() {
      @include output {
        .output {
          @include sf-google-fonts('overpass-mono', 'regular', true);
        }
      }
      @include expect {
        .output {
          font-family: "Overpass Mono", monospace !important;
          font-weight: 400 !important;
        }
      }
    }
  }

  // testing light - 300 with $important: true
  @include test("it should output with weight: light (300) and !important") {
    @include assert() {
      @include output {
        .output {
          @include sf-google-fonts('overpass-mono', 'light', true);
        }
      }
      @include expect {
        .output {
          font-family: "Overpass Mono", monospace !important;
          font-weight: 300 !important;
        }
      }
    }
  }

}