// ==========================================================================||
//	Tests @include sf-typography
// ==========================================================================||
//  Changelog
//  2.0.0 - created
//  3.0.0 - remove inuitcss as a dependency
// ==========================================================================||

@import "true";
@import "../node_modules/sass-mq/mq";

@import "../tools/tools.family";
@import "../tools/tools.font-size";
@import "../tools/tools.typography";

// $inuit necessities
$sf-global-font-size: 16px;

$overpass-mono: "Overpass Mono", monospace;

$fonts: (
  "overpass-mono": $overpass-mono,
);

$typographies: (
  "h1": (
    font: "overpass-mono",
    breakpoints: (
      mobile: (28px, 44px, 0.98px),
      desktop: (36px, 56px, 1.26px)
    ),
  ),
  "h1-light": (
    font: "overpass-mono",
    weight: "light",
    breakpoints: (
      mobile: (18px, 30px, 0.6px),
      desktop: (20px, 32px, 0.7px),
    ),
  ),
);

@include test-module("[mixin] Testing @include sf-typography") {
  @include test("it should output Overpass Mono (Default) with settings on all breakpoints") {
    @include assert() {
      @include output {
        .output {
          @include sf-typography("h1");
        }
      }
      @include expect {
        .output {
          font-family: "Overpass Mono", monospace;
          font-weight: 400;
          font-size: 28px;
          font-size: (28px / $sf-global-font-size) * 1rem;
          line-height: 44px;
          letter-spacing: 0.98px;

          @media (min-width: 61.25em) {
            font-size: 36px;
            font-size: (36px / $sf-global-font-size) * 1rem;
            line-height: 56px;
            letter-spacing: 1.26px;
          }
        }
      }
    }
  }

  @include test("it should output Overpass Mono (Light) with settings on all breakpoints") {
    @include assert() {
      @include output {
        .output {
          @include sf-typography("h1-light");
        }
      }
      @include expect {
        .output {
          font-family: "Overpass Mono", monospace;
          font-weight: 300;
          font-size: 18px;
          font-size: (18px / $sf-global-font-size) * 1rem;
          line-height: 30px;
          letter-spacing: 0.6px;

          @media (min-width: 61.25em) {
            font-size: 20px;
            font-size: (20px / $sf-global-font-size) * 1rem;
            line-height: 32px;
            letter-spacing: 0.7px;
          }
        }
      }
    }
  }

  @include test("it should output Overpass Mono (Default) with settings on all breakpoints + !important") {
    @include assert() {
      @include output {
        .output {
          @include sf-typography("h1", true);
        }
      }
      @include expect {
        .output {
          font-family: "Overpass Mono", monospace !important;
          font-weight: 400 !important;
          font-size: 28px !important;
          font-size: (28px / $sf-global-font-size) * 1rem !important;
          line-height: 44px !important;
          letter-spacing: 0.98px !important;

          @media (min-width: 61.25em) {
            font-size: 36px !important;
            font-size: (36px / $sf-global-font-size) * 1rem !important;
            line-height: 56px !important;
            letter-spacing: 1.26px !important;
          }
        }
      }
    }
  }

  @include test("it should output Overpass Mono (Light) with settings on all breakpoints + !important") {
    @include assert() {
      @include output {
        .output {
          @include sf-typography("h1-light", true);
        }
      }
      @include expect {
        .output {
          font-family: "Overpass Mono", monospace !important;
          font-weight: 300 !important;
          font-size: 18px !important;
          font-size: (18px / $sf-global-font-size) * 1rem !important;
          line-height: 30px !important;
          letter-spacing: 0.6px !important;

          @media (min-width: 61.25em) {
            font-size: 20px !important;
            font-size: (20px / $sf-global-font-size) * 1rem !important;
            line-height: 32px !important;
            letter-spacing: 0.7px !important;
          }
        }
      }
    }
  }
}
