@import "true";
@import "../settings/settings.webfonts";
@import "../node_modules/inuitcss/tools/tools.font-size";
@import "../node_modules/sass-mq/mq";
@import "../tools/tools.google-fonts";
@import "../tools/tools.webfonts";
@import "../tools/tools.typography";

// $inuit necessities
$inuit-global-font-size: 16px;

$sf-font-type: 'webfonts';

$typographies: (
  'h1': (
    font: 'avenir-black',
    breakpoints: (
      mobile: (28px, 44px, 0.98px),
      desktop: (36px, 56px, 1.26px)
    ),
  ),
  'h1-light': (
    font: 'avenir-book',
    breakpoints: (
      mobile: (18px, 30px, 0.6px),
      desktop: (20px, 32px, 0.7px),
    ),
  ),
);

@include test-module("[mixin] sf-typography for webfonts") {

  @include test("it should output AvenirLTStd-Black with settings on all breakpoints") {
    @include assert() {
      @include output {
        .output {
          @include sf-typography('h1');
        }
      }
      @include expect {
        .output {
          font-family: "AvenirLTStd-Black";
          font-style: normal;
          font-weight: normal;
          font-size: 28px;
          font-size: (28px / $inuit-global-font-size) * 1rem;
          line-height: 44px;
          letter-spacing: 0.98px;

          @media (min-width: 61.25em) {
            font-size: 36px;
            font-size: (36px / $inuit-global-font-size) * 1rem;
            line-height: 56px;
            letter-spacing: 1.26px;
          }
        }
      }
    }
  }

  @include test("it should output AvenirLTStd-Book with settings on all breakpoints") {
    @include assert() {
      @include output {
        .output {
          @include sf-typography('h1-light');
        }
      }
      @include expect {
        .output {
          font-family: "AvenirLTStd-Book";
          font-style: normal;
          font-weight: normal;
          font-size: 18px;
          font-size: (18px / $inuit-global-font-size) * 1rem;
          line-height: 30px;
          letter-spacing: 0.6px;

          @media (min-width: 61.25em) {
            font-size: 20px;
            font-size: (20px / $inuit-global-font-size) * 1rem;
            line-height: 32px;
            letter-spacing: 0.7px;
          }
        }
      }
    }
  }

  @include test("it should output AvenirLTStd-Black with settings on all breakpoints + !important") {
    @include assert() {
      @include output {
        .output {
          @include sf-typography('h1', true);
        }
      }
      @include expect {
        .output {
          font-family: "AvenirLTStd-Black" !important;
          font-style: normal !important;
          font-weight: normal !important;
          font-size: 28px !important;
          font-size: (28px / $inuit-global-font-size) * 1rem !important;
          line-height: 44px !important;
          letter-spacing: 0.98px !important;

          @media (min-width: 61.25em) {
            font-size: 36px !important;
            font-size: (36px / $inuit-global-font-size) * 1rem !important;
            line-height: 56px !important;
            letter-spacing: 1.26px !important;
          }
        }
      }
    }
  }

}