@import "true";
@import "../settings/settings.webfonts";
@import "../tools/tools.webfonts";

@include test-module("[mixin] sf-webfonts") {

  @include test("it should output AvenirLTStd-Black") {
    @include assert() {
      @include output {
        .output {
          @include sf-webfonts('avenir-black');
        }
      }
      @include expect {
        .output {
          font-family: "AvenirLTStd-Black";
          font-style: normal;
          font-weight: normal;
        }
      }
    }
  }

  @include test("it should output AvenirLTStd-Black + !important") {
    @include assert() {
      @include output {
        .output {
          @include sf-webfonts('avenir-black', true);
        }
      }
      @include expect {
        .output {
          font-family: "AvenirLTStd-Black" !important;
          font-style: normal !important;
          font-weight: normal !important;
        }
      }
    }
  }

}