// insert webfont license
// stylelint-disable
@import url("//hello.myfonts.net/count/348a78");

@font-face {font-family: 'AvenirLTStd-Book';src: url('../webfonts/348A78_0_0.eot');src: url('../webfonts/348A78_0_0.eot?#iefix') format('embedded-opentype'),url('../webfonts/348A78_0_0.woff2') format('woff2'),url('../webfonts/348A78_0_0.woff') format('woff'),url('../webfonts/348A78_0_0.ttf') format('truetype');}
 
@font-face {font-family: 'AvenirLTStd-Black';src: url('../webfonts/348A78_5_0.eot');src: url('../webfonts/348A78_5_0.eot?#iefix') format('embedded-opentype'),url('../webfonts/348A78_5_0.woff2') format('woff2'),url('../webfonts/348A78_5_0.woff') format('woff'),url('../webfonts/348A78_5_0.ttf') format('truetype');}
// stylelint-enable

$avenir-black: 'AvenirLTStd-Black', sans-serif;
$avenir-book: 'AvenirLTStd-Book', sans-serif;

// assign to $fonts map
$fonts: (
  'avenir-black': $avenir-black,
  'avenir-book': $avenir-book,
);

