// ==========================================================================||
//  Mixin for setting font from $fonts map
// ==========================================================================||
//  Changelog
//  2.0.0 - created
//  3.0.0 - remove inuitcss as a dependency
// ==========================================================================||

@mixin sf-typography($tag, $important: false) {
  $impt: false;
  
  // Thanks inuitcss!
  @if ($important == true) {
    $important: !important;
    $impt: true;
  } @else if ($important == false) {
    $important: null;
    $impt: false;
  } @else {
    @error "$important needs to be 'true' or 'false'."
  }

  @if map-has-key($typographies, $tag) {
    $typography: map-get($typographies, $tag);
    $breakpoints: map-get($typography, "breakpoints");

    @if map-has-key($typography, "font")  {
      $font: map-get($typography, "font");
      $weight: if(map-has-key($typography, "weight"), map-get($typography, "weight"), "regular");

      @include sf-family($font, $weight, $impt);
    }

    @each $bp-namespace, $bp in $breakpoints {
      @if ($bp-namespace == "mobile") {
        @include sf-font-size(nth($bp, 1), nth($bp, 2), nth($bp, 3), $impt);
      }
      @else {
        @include mq($from: #{$bp-namespace}) {
          @include sf-font-size(nth($bp, 1), nth($bp, 2), nth($bp, 3), $impt);
        }
      }
    }
  }
  @else {
    @error "[#{$tag}] is not defined in $typographies";
  }
}
