// ==========================================================================||
//  $fonts map is defined in settings/settings.fonts
// ==========================================================================||

@mixin sf-webfonts($typeface, $important: false) {
  $impt: false;
  
  // Thanks inuitcss!
  @if ($important == true) {
    $important: !important;
    $impt: true;
  } @elseif ($important == false) {
    $important: null;
    $impt: false;
  } @else {
    @error "$important needs to be `true` or `false`."
  }

  @if map-has-key($fonts, $typeface) {
    font-family: nth(map-get($fonts, $typeface), 1) $important;
    font-style: normal $important;
    font-weight: normal $important;
  } @else {
    @error "`#{$typeface}` is not defined.";
  }
}
